{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="POST" novalidate>
  Username: <input type="email" name="username" required><br>
  Password: <input type="password" name="password" minlength="6" maxlength="64" required><br>
  Biography: <textarea name="bio" maxlength="500" rows="4" cols="50"></textarea>
  <input type="submit" value="Register">
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}