{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="text-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" novalidate>
    {{ csrf_token() }}

    <label>Email:</label>
    <input type="email" name="username" required><br>

    <label>Password:</label>
    <input type="password" name="password" minlength="10" maxlength="64" required><br>

    <label>Biography:</label>
    <textarea name="bio" maxlength="500"></textarea><br>

    <input type="submit" value="Register">
</form>
{% endblock %}
